@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ms+Madi&display=swap');

*{
    font-family: Inter;
    margin: 0;
    padding: 0;
    color: white;
}

.m{
    display: none;
}

body{
    position: relative;
    background-color: rgb(8,8,8);
    width: 1440px;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-c{
    flex-direction: column;
}

header{
    padding: 57px 190px 0;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(199, 199, 199, 0.09),rgb(8, 8, 8) 100%);
    margin-bottom: 100px;
}
.ht{
    justify-content: left;
}
.ht .logo{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
}
.ht .manu{
    margin-left: 463px;
    padding: 4px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.192);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 1.13rem;
    font-weight: 600;
}
.ht .manu li{
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
}
.home_btn{
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 38px;
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.hb{
    justify-content: left;
}
.hb .first{
    width: 520px;
}
.hb .info{
    font-size: 4.68rem;
    font-weight: 900;
}
.hb .shape{
    background: none;
    font-weight: 100;
    font-size: 6.87rem;
    font-family: MS Madi;
    line-height: 80%;
}
.hb p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 28px;
    margin-bottom: 40px;
}

.jcn{
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-right: 14px;
}
.dw{
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px;
    border-radius: 42px;
}

.secound img{
    margin-top: 32px;
    margin-left: 167px;
    height: 580px;
    width: 349px;
}
.secound .card1{
    position: absolute;
    left: 1107px;
    top: 260px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 23px 16px;
}
.secound .card1 span{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.secound .card1 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.secound .card2{
    position: absolute;
    left: 764px;
    top: 556px;
    padding: 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.secound .card2 .p_btn_s{
    width: 40px;
    height: 40px;
    border-radius: 500px;
    margin-right: 12px;
    background: rgb(230, 83, 60);
}
.secound .card2 .p_btn_t{
    width: 0; 
    height: 0;
    margin-top: 10px; 
    margin-left: 13px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid white;
}
.secound .card2 span{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.secound .card2 p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.change_habits{
    margin-bottom: 58px;
}
.common_title{
    font-size: 3rem;
    font-weight: 900;
}
.habit_p{
    text-align: center;
    margin-top: 14px;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.habit_images{
    width: 1044px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.habit_topic{
    width: 231px;
}
.habit_img{
    height: 180px;
    width: 180px;
    border-radius: 500px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.habit_topic_title{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}
.habit_topic_p{
    margin-top: 6px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.t1{
    background-image: url(../assets/images/image\ 3.png);
}
.t2{
    background-image: url(../assets/images/image\ 2.png);
}
.t3{
    background-image: url(../assets/images/image\ 4.png);
}
.t4{
    background-image: url(../assets/images/image\ 5.png);
}

.main2nd{
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    width: 1060px;
    justify-content: space-between;
}
.main2nd_l{
    width: 390px;
    margin-left: 50px;
    align-items: start;
}
.main2nd_l .habit_topic_p{
    margin-top: 14px;
    margin-bottom: 34px;
}
.main2nd_l .habit_topic_p{
    text-align: left;
}





.main2nd_r{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px;
    background-image: url(../assets/images/run.jpg);
    background-size: 315%;
    background-position: -550px -130px;
}

.team{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.team_img{
    border-radius: 18px;
    width: 326px;
    height: 270px;
}
.tm1{
    background: url(../assets/images/trainer1.png);
    background-size: 100%;
}
.tm2{
    background-image: url(../assets/images/trainer2.png);
    background-size: 100%;
}
.tm3{
    background-image: url(../assets/images/trainer3.png);
    background-size: 100%;
}
.tm4{
    background-image: url(../assets/images/trainer4.png);
    background-size: 150%;
    background-position: -80px 0;
}
.tm5{
    background-image: url(../assets/images/trainer5.png);
    background-size: 100%;
    background-position: 0 -25px;
}
.tm6{
    background-image: url(../assets/images/trainer6.png);
    background-size: 100%;
}
.member_name{
    margin-top: 210px;
    margin-left: 20px;
}
.team .habit_topic_p{
    text-align: left;
    margin-left: 20px;
}

footer{
    margin-top: 66px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
}
.footer_info{
    padding: 70px 190px;
}
.footer_info .habit_topic_p{
    text-align: left;
}
.f_info1{
    width: 35%;
    margin-right: 15%;
    align-items: start;
}
.f_info2 .f_title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
}
.f_info2 .habit_topic_p{
    margin-top: 20px;
    font-size: 1.4rem;
}
.f_logo{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 4.4rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.f_info2{
    width: 25%;
    align-items: start;
}
footer li{
    list-style: none;
}
.h_line{
    width: 1050px;
    height: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 80px;
    margin-bottom: 36px;
}
.c_right{
    font-size: 1rem;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}

.bmi_name{
    margin-top: 65px;
    font-size: 1.4rem;
    font-weight: 900;
}
.bmi_cal{
    justify-content: space-between;
    width: 100%;
    background: rgb(34, 34, 34);
}
.bmi_p{
    margin-top: 14px;
    margin-bottom: 88px;
}
.cal_chart{
    margin-left: 189px;
    margin-top: 53px;
}
table {
    margin-top: 52px;
    border-collapse: collapse;
  }
th, td{
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}
td{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.cal{
    margin-right: 189px;
}

.f1, .f2, .f3, .f4, .f5{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.f1{
    grid-area: f1;
}
.f2{
    grid-area: f2;
}
.f3{
    grid-area: f3;
}
.f4{
    grid-area: f4;
}
.f5{
    grid-area: f5;
}
.form{
    display: grid;
    gap: 12px;
    grid-template-areas: 
    "f1 f2"
    "f3 f4"
    "f5 f5"
    ;
}






@media screen and (max-width: 576px) {
    .ht .manu , .d{
        display: none;
    }
    .m{
        display: inline;
    }
    .main2nd, .team, .footer_info{
        display: flex;
        flex-direction: column;
    }
    body, .hb .first{
        width: 100%;
    }
    header{
        padding: 50px 20px 0;
        margin-bottom: -93px;
    }
    .change_habits{
        width: 100%;
        background-color: rgb(8, 8, 8);
    }
    
    .ht{
        justify-content: space-between;
    }
    .hb{
        margin-top: 50px;
        flex-direction: column;
    }
    .hb .info{
        font-size: 2.25rem;
    }
    .hb .shape{
        font-size: 2.5rem;
    }
    .humbarger .line{
        background-color: white;
        width: 20px;
        height: 2px;
        margin-top: 4px;
    }
    .jcn_m{
        font-size: 3.5vw;
        padding: 2.5vw 10vw;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        margin-right: 5.5vw;
        margin-left: 5.5vw;
    }
    .dw{
        font-size: 3.5vw;
        padding:  2.5vw 6vw;
    }
    .secound img{
        margin-top: 48px;
        margin-left: 20px;
    }
    .secound .card1{
        left: 55vw;
        top: 510px;
        border-radius: 9px;
        padding: 13px 18px 12px;
    }
    .secound .card1 span{
        font-size: 1.6rem;
    }
    .secound .card1 p{
        font-size: 0.6rem;
    }
    .secound .card2{
        left: 8vw;
        top: 700px;
        padding: 18px;
        border-radius: 9px;
    }
    .secound .card2 span{
        font-size: 1.2rem;
    }
    .secound .card2 p{
        font-size: 0.75rem;
    }
    .common_title{
        font-size: 2.2rem;
    }
    .habit_p{
        width: 340px;
        letter-spacing: 0.4px;
    }
    .habit_images{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;
    }
    .main2nd{
        margin-top: 66px;
        width: 90vw;
    }
    .main2nd_l{
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
        width: 70vw;
    }
    .main2nd_r{
        width: 75vw;
        height: 70vw;
        background-position: -465px -130px;
    }
    .main3rd{
        width: 75vw;
    }
    .footer_info{
        align-items: start;
        padding: 45px 20px 0;
    }
    .f_info1{
        width: 85%;
    }
    .f_info2{
        width: 85%;
        margin-top: 30px;
    }
    .h_line{
        width: 90vw;
        height: 0;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 70px;
        margin-bottom: 40px;
    }
}
